<div id="cookieConsent">
    {{ i18n "cookies" }}<a href="" data-toggle="modal" data-target=".bd-example-modal-lg"> {{ i18n "cookies-info" }}</a>.

    <a class="cookieConsentOK float-right m-2">
        <button class="btn btn-main">{{ i18n "cookies-ok" }}</button>
    </a>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Politica de cookies</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut laoreet nunc, eu commodo ipsum. 
                    Sed efficitur enim vitae massa ultricies egestas. Praesent finibus mauris id arcu tristique, 
                    ac egestas felis auctor. Aliquam erat volutpat. Aenean ultrices efficitur nunc, eu imperdiet urna ultrices at. 
                    Mauris sit amet enim eget libero commodo semper. Sed sollicitudin rutrum tellus, eget lacinia sem porta eget.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-main" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>